.master-features-container {
    margin-top: 80px;
}

.feature-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px;
    align-items: center;
    justify-content: center;
    // height: 390px;
}

.features-container:nth-child(even) .feature-container {


    .feature-images {
        margin-top: 18px;
        margin-left: -20px;
        grid-column: 1;
        grid-row: 1;
    }
    .feature-description {
        margin-top: 30px;
        margin-left: 25px;
        grid-column: 2;
        grid-row: 1;
    }
}

.feature-description {
    * {
        padding-bottom: 16px;
    }
    width: 90%;
    // font-size: 18px;
}

.feature-images > img {
    width: 100%;
}

.feature-image-container {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    
}

.CarouselItem {
    max-width: 600px;
}

// ------- FUTURE FEATURES ------------

.future-features-grid {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 400px;
    align-items: center;
    justify-content: center;

    .MuiTypography-root {
        padding-bottom: 6px;
    }
}

.future-features-image {
    grid-column: 1;
    height: 100%;
}

.future-features-desc {
    grid-column: 2;
    padding-left: 25px;
}

.future-features-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.future-feature-bucket {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    padding-bottom: 16px;
    // padding-left: 20px;
    // padding-right: 20px;
}

