.master-features-container {
    margin-top: 80px;
}

.feature-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px;
    align-items: center;
    justify-content: center;
    // height: 390px;
    padding-bottom: 40px;
}

.features-container:nth-child(even) .feature-container {


    .feature-images {
        margin-top: 18px;
        margin-left: -20px;
        grid-column: 1;
        grid-row: 1;
    }
    .feature-description {
        margin-top: 30px;
        margin-left: 25px;
        grid-column: 2;
        grid-row: 1;
    }
}

.feature-description {
    * {
        padding-bottom: 16px;
    }
    width: 80%;
    padding-left: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.feature-images > img {
    width: 100%;
}

.feature-image-container {
    display: flex;
    justify-content: center;
    padding-top: 18px;
    
}

.CarouselItem {
    max-width: 600px;
}

// ------- FUTURE FEATURES ------------

.future-features-grid {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 400px;
    align-items: center;
    justify-content: center;

    .MuiTypography-root {
        padding-bottom: 6px;
    }
}

.future-features-image {
    grid-column: 1;
    width: 90%;
}

.future-features-desc {
    grid-column: 2;
    padding-left: 50px;
}

.future-features-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.future-feature-bucket {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 400px;
    padding-bottom: 16px;
    // padding-left: 20px;
    // padding-right: 20px;
}

.feature-img-img {
    object-fit: contain;
    width: 100%;
}

.reverse-features {
    .future-features-image {
        grid-column: 2;
        grid-row: 1;
    }

    .future-features-desc {
        grid-column: 1;
        grid-row: 1;
    }
}

// ----------------

// .project-overview-section {
//     // display: flex;
//     // align-items: center;
//     // justify-content: center;

//     .overview-description {
//         padding-left: 100px;
//         width: 600px;

//         p {
//             margin: 0 !important;
//             max-width: 100% !important;
//         }
//         margin: 0;
//     }

//     .tech-pie-chart {
//         width: 600px;

//         .recharts-surface {
//             width: 600px !important;
//         }
//     }
// }

.project-overview-section {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 400px;
    align-items: center;
    justify-content: center;

    .overview-description {
        grid-column: 1;
        padding-left: 60px;

        p {
            margin: 0 !important;
            max-width: 100% !important;
        }
        margin: 0;
    }

    .tech-pie-chart {
        grid-column: 2;
        margin-left: -80px;
    }
}